<%- include('partials/header.ejs')%>
<link rel="stylesheet" href="/styles/forms.css">
<link rel="stylesheet" href="/styles/product.css">
</head>

<body>
    <%- include('partials/nav.ejs')%>
    <main>
        <form class="product-form" action="/admin/add-product" method="POST">
            <div class="form-control">
                <label for="title">Title</label>
                <input type="text" name="title" id="title">
            </div>
            <button class="btn" type="submit">Add a Product</button>
        </form>
    </main>
    <%- include('partials/footer.ejs')%>